services:
  backend:
    build:
      context: ./backend
      dockerfile: backend.Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: frontend.Dockerfile
    env_file:
      - ./frontend/.env
    ports:
      - "5173:80"
    depends_on:
      - backend